*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header {
    background-color: #000000;
    width: 1440px;
    height: 94px;
    padding: 12px;
    position: fixed;
    z-index: 9;
}

header h1 {
    background-image: url(../img/music-note.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 70px;
    height: 70px;
    margin-left: 100px;
    text-indent: -7777777px;
    padding-top: 10px;
    float: left;
}
header h1 a {
    display: block;
    width: 70px;
    height: 70px;
}

header nav ul li a {
    color: #ffffff;
    float: left;
    margin: 20px 50px;
    
}
main {
    padding-top: 126px;
    padding-left: 108px;
    font-size: 24px;
   
}
.social {

width: 50px;
height: 100px;
margin-top: 200px;
position: fixed;
top: 0;
right: 0;

}

.facebook {
    background-image: url(../img/fb.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 50%;
}
.instagram {
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 50%;

}
.es {
    float: left;
    margin-right: 130px;
    margin-bottom: 50px;
}

.table {
    width: 300px;
    height: 270px;
    border-style: solid;
    border-color: #000000;
    margin-top: 30px;
    position: relative;
       
 
}
.table .like {
    background-image: url(../img/like.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.sound img {
    width: 64px;
    height: 64px;
    float: left;
    margin-top: 70px;
    margin-right: 8px;
    margin-bottom: 20px;
}

.track{
    font-size: 18px;
    margin-bottom: 10px;
}
.artist {
    font-size: 14px;
}
.go {
    margin-top: 10px;
    font-size: 12px;
    
}

.bolo {
    clear: both;
    width: 1440px;
    height: 354px;
    background-color: #000000;
    padding-top: 6px;
    

}

.bolo .sound1 {
    width: 150px;
    height: 150px;
    background-image: url(../img/music-note.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 50px auto;
    text-indent: -6666666px;
    
}
.eses{
    margin-bottom: 28px;

}
.eses ul li {
    text-align: justify;
    
}

.eses ul a {
    color: #ffffff;
    margin-left: 674px;
    text-align: justify;
    

}
.f {
    color: #ffffff;
    margin-left: 648px;
}


/*---------------playlist----------------*/

.playlist {
    padding-top: 126px;
    font-size: 24px
}
.social {

    width: 50px;
    height: 100px;
    margin-top: 200px;
    position: fixed;
    top: 0;
    right: 0;
    
    }
    
    .facebook {
        background-image: url(../img/fb.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 50%;
    }
    .instagram {
        background-image: url(../img/instagram.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 50%;
    
    }
    .test {
        float: left;
        margin-right: 90px;
        margin-top: 100px;
    }
    .playlist ul {
        margin-top: 30px;
    }

    .playlist ul li {
       font-size: 18px;
       color: #000000;
    }

    .playlist ul li a {
        color: #000000;
    }

    .saerto {
        clear: both;
        margin-left: 430px;
    }

    .suratebi img {
        width: 64px;
        height: 64px;
        float: left;
        margin-top: 70px;
        margin-right: 8px;
        margin-bottom: 20px;
        
    }
    .b {
        clear: both;
        
    }
.x {
    clear: both;
    margin-left: 440px;
    padding-top: 40px;
    padding-bottom: 80px;
    font-size: 36px;
}